/*
** Shop
*/
.woocommerce:before,
.woocommerce:after {
	clear: both;
	content: "";
	display: block;
}

form.woocommerce-cart-form table td,
form.woocommerce-cart-form table th {
	text-align: center;
}

.price {
	color: var(--colorMain2);
	display: block;
	font-weight: 400;
	margin: 18px 0 0;
}

.price del {
	color: var(--darkgreyColor);
	font-weight: 300;
	padding-right: 1em;
}

.price ins {
	text-decoration: none !important;
}

.woocommerce-breadcrumb,
.woocommerce-products-header {
	display: none;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	background-color: rgba(150, 150, 150, 0.05);
	border-left: 5px solid var(--colorMain);
	margin: 0 0 1.5em !important;
	padding: 1.5em 1.5em 1.5em 1.5em;
}

.woocommerce-Message a.woocommerce-Button.button {
	margin-right: 10px;
}

.u-columns.woocommerce-Addresses.col2-set.addresses header {
	margin-bottom: 10px;
}

.u-columns.woocommerce-Addresses.col2-set.addresses .col-2 header {
	margin-top: 30px;
}

.woocommerce-info {
	border-color: #208dcc;
}

.woocommerce-error {
	list-style-position: inside;
}

.woocommerce-result-count {
	margin-bottom: 0;
}

.owl-carousel.owl-products {
	margin: 0;
}

.owl-carousel.owl-products .owl-stage-outer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}

.owl-carousel.owl-products .product {
	margin-bottom: 35px;
	padding: 0;
	width: 100%;
}

.products.owl-carousel li.product {
	width: 100% !important;
}

ul.products,
.owl-products {
	clear: both;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	list-style: none;
	margin: 0 -15px;
	padding: 0;
}

ul.products .product,
.owl-products .product {
	margin-bottom: 30px;
	padding: 0 15px;
	position: relative;
	text-align: center;
}

ul.products .product .product-inner,
.owl-products .product .product-inner {
	display: block;
	overflow: hidden;
	position: relative;
}

ul.products .product .product-inner .item-content,
.owl-products .product .product-inner .item-content {
	padding: 25px 20px 30px;
}

ul.products .product .product-inner .item-content .shop-product-button,
.owl-products .product .product-inner .item-content .shop-product-button {
	margin-top: 23px;
}

ul.products .product .product-inner .item-content .shop-product-button a:before,
.owl-products .product .product-inner .item-content .shop-product-button a:before {
	display: none;
}

ul.products .product .product-inner .item-content .add-to-card,
.owl-products .product .product-inner .item-content .add-to-card {
	margin-top: 23px;
}

ul.products .product > a > img,
.owl-products .product > a > img {
	border-radius: 5px 5px 0 0;
	width: 100%;
}

ul.products .product h2,
.owl-products .product h2 {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 24px;
	text-transform: none;
}

ul.products .product .onsale,
.owl-products .product .onsale {
	background-color: var(--colorMain);
	border-radius: 5px 0 0 0;
	color: var(--darkColor);
	display: none;
	font-weight: 500;
	line-height: 1;
	min-width: 60px;
	padding: 5px 8px;
	position: absolute;
	z-index: 2;
}

ul.products .product .star-rating,
.owl-products .product .star-rating {
	margin: 27px auto 0;
}

ul.products.columns-1 .product,
.owl-products.columns-1 .product {
	margin-right: 0;
	width: 100%;
}

ul.products.columns-2 .product,
.owl-products.columns-2 .product {
	width: 50%;
}

ul.products.columns-3 .product,
.owl-products.columns-3 .product {
	width: 33.333%;
}

@media (max-width: 1199px) {
	ul.products.columns-3 .product,
	.owl-products.columns-3 .product {
		width: 49.9%;
	}
}

ul.products.columns-4 .product,
.owl-products.columns-4 .product {
	width: 50%;
}

@media (min-width: 1200px) {
	ul.products.columns-4 .product,
	.owl-products.columns-4 .product {
		width: 25%;
	}
}

@media (max-width: 992px) {
	ul.products.columns-4 .product,
	.owl-products.columns-4 .product {
		width: 33.333333%;
	}
}

.columns-4:not(.owl-carousel) a.button {
	letter-spacing: 0.1em;
	padding: 7px;
}

@media (max-width: 575px) {
	ul.products .product {
		width: 100% !important;
	}
}

.woocommerce-Message .btn,
.woocommerce-message .btn,
.btn.view {
	float: right;
	margin: 3px 0;
	min-width: 120px;
	padding: 1px 10px;
}

.add_to_cart_button.loading:before {
	-webkit-animation: spin 2s infinite linear;
	        animation: spin 2s infinite linear;
	content: "\f021";
}

.add_to_cart_button.product_type_variable:before {
	content: "\f1de";
}

.add_to_cart_button + .wc-forward {
	display: block;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.1em;
	line-height: 1.6em;
	margin-top: 10px;
	padding: 0 1em;
	text-transform: uppercase;
}

.add_to_cart_button + .wc-forward:after {
	content: "\f178";
	font-family: "FontAwesome";
	padding-left: 0.5em;
}

/*shop pagination*/
.woocommerce-pagination {
	margin-top: 38px;
	text-align: center;
}

@media (max-width: 991px) {
	.woocommerce-pagination {
		margin-top: 7px;
	}
}

.woocommerce-pagination ul.page-numbers {
	list-style: none;
	padding: 0;
}

.woocommerce-pagination ul.page-numbers li {
	display: inline-block;
}

.woocommerce-pagination ul.page-numbers span,
.woocommerce-pagination ul.page-numbers a {
	border: 1px solid rgba(72, 97, 115, 0.2);
	color: var(--fontColor);
	display: inline-block;
	font-weight: 400;
	line-height: inherit;
	margin-left: 0;
	margin-right: 5px;
	min-width: 40px;
	padding: 7px;
	text-align: center;
}

.woocommerce-pagination ul.page-numbers span i,
.woocommerce-pagination ul.page-numbers a i {
	color: var(--colorMain);
}

.woocommerce-pagination ul.page-numbers span:hover,
.woocommerce-pagination ul.page-numbers a:hover {
	background-color: var(--colorMain);
	border-color: var(--colorMain);
}

.woocommerce-pagination ul.page-numbers span.dots,
.woocommerce-pagination ul.page-numbers a.dots {
	border-color: transparent;
	font-size: 20px;
	left: 2px;
	letter-spacing: 1px;
	position: relative;
	top: -3px;
}

.woocommerce-pagination ul.page-numbers span.dots:hover,
.woocommerce-pagination ul.page-numbers a.dots:hover {
	background-color: transparent;
	color: inherit;
}

.woocommerce-pagination ul.page-numbers span {
	background-color: var(--colorMain);
	border-color: var(--colorMain);
	cursor: not-allowed;
}

/*single product*/
.product .flex-control-thumbs li {
	width: 20%;
}

.product .flex-viewport {
	box-shadow: 0 16px 20px 0px rgba(0, 0, 0, 0.15);
}

.product .images {
	margin-bottom: 40px;
	position: relative;
}

.product .images .flex-direction-nav {
	display: none;
}

@media (min-width: 992px) {
	.product .images {
		margin-bottom: 70px;
	}
}

.product .images figure {
	max-width: none;
}

@media (min-width: 767px) {
	.product .images {
		float: left;
		width: 46%;
	}
}

.product .summary {
	margin-bottom: 45px;
	position: relative;
}

.product .summary:after {
	clear: both;
	content: "";
	display: block;
}

@media (min-width: 767px) {
	.product .summary {
		float: right;
		width: 46%;
	}
}

.product .summary .entry-title {
	line-height: 1;
}

.product .summary .woocommerce-product-rating {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: inline-flex;
	line-height: 1;
	margin-bottom: 13px;
	margin-top: 3px;
	position: relative;
}

.product .summary .woocommerce-product-rating .woocommerce-review-link {
	display: none;
}

.product .summary .woocommerce-review-link {
	display: inline-block;
	margin-left: 21px;
}

.product .summary .variations {
	margin: 1.5em 0 0;
}

.product .summary .variations tr {
	display: block;
	margin-bottom: 1em;
}

.product .summary .variations td {
	border: 0;
	display: block;
	padding: 0;
}

.product .summary .variations label {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0;
	margin-bottom: 5px;
	text-transform: none;
}

.product .summary .variations label:after {
	content: ":";
}

.product .summary .variations .reset_variations {
	font-size: 0;
}

.product .summary .variations .reset_variations:before {
	content: "\f05e";
	display: inline-block;
	font-family: "FontAwesome";
	font-size: 16px;
	padding: 0.5em;
}

.product .summary .product_meta {
	margin-top: 40px;
}

.product .summary .product_meta > span {
	display: block;
}

.product .summary .product_meta table th {
	font-weight: 700;
	padding: 19px 0;
}

.product .summary .product_meta td a {
	color: var(--colorMain2);
}

.product .summary .product_meta td a:hover {
	color: var(--colorMain);
}

.product .summary .price {
	margin-top: 25px;
}

.product .summary .price ins {
	text-decoration: none;
}

.product .summary form.cart {
	margin-top: 25px;
}

.product .summary form.cart .add-to-cart .single_add_to_cart_button {
	margin-left: 5px;
	padding: 22px 35px;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.product .summary form.cart .add-to-cart .single_add_to_cart_button {
		margin-left: 0;
		padding: 22px 11px;
	}
}

.product .summary form.cart.grouped_form .woocommerce-grouped-product-list {
	margin-bottom: 30px;
}

.product .summary form.cart.grouped_form .woocommerce-grouped-product-list .woocommerce-grouped-product-list-item__label label {
	display: block !important;
	margin-bottom: 0;
}

.product .summary form.cart.grouped_form .woocommerce-grouped-product-list .woocommerce-grouped-product-list-item__price del {
	margin-right: 5px;
}

.product .summary form.cart button {
	margin-left: 0;
}

.product .summary .product_meta span {
	font-weight: 400;
}

.product .summary .product_meta span a {
	font-weight: 300;
}

.product .summary .wcppec-checkout-buttons.woo_pp_cart_buttons_div {
	text-align: left;
}

.woocommerce-message a.button.wc-forward {
	margin-right: 10px;
}

.single_variation_wrap .price {
	margin: 2px 0 10px;
}

.single_variation_wrap .price del {
	padding-right: 15px;
}

.quantity {
	display: inline-block;
	position: relative;
}

.quantity i + i {
	display: none;
}

.button {
	background: var(--colorMain);
	background-color: var(--colorMain);
	border: 1px solid var(--colorMain);
	border-radius: 0;
	color: var(--darkColor);
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.3em;
	padding: 7px 25px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.button:hover {
	background-color: var(--darkColor);
	border-color: var(--darkColor);
	color: #fff;
}

.button.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.button + .button {
	margin-left: 4px;
}

.quantity {
	display: inline-block;
	position: relative;
}

.quantity [type='number'] {
	-moz-appearance: textfield;
	background-color: var(--greyColor);
	border: none;
	border-radius: 0;
	font-weight: 400;
	height: 60px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	width: 80px;
}

.quantity [type='number']::-webkit-inner-spin-button,
.quantity [type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.quantity + button {
	position: relative;
	top: -1px;
}

@media (max-width: 575px) {
	.quantity + button {
		margin-top: 20px;
	}
}

.quantity [type="button"] {
	background-color: transparent;
	border: none;
	color: transparent;
	cursor: pointer;
	height: 10px;
	line-height: 1;
	position: absolute;
	right: 6px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 22px;
	z-index: 1;
}

.quantity [type="button"]:hover + i {
	color: var(--colorMain);
}

.quantity [type="button"] + i {
	color: var(--darkgreyColor);
	display: inline-block;
	font-size: 16px;
	line-height: 10px;
	position: absolute;
	right: 6px;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 22px;
}

.quantity [type="button"].minus {
	left: 6px;
	right: auto;
}

.quantity [type="button"].minus + i {
	left: 6px;
	right: auto;
}

/*shop tabs*/
.woocommerce-tabs {
	clear: both;
	margin: 95px 0 92px;
}

@media (max-width: 991px) {
	.woocommerce-tabs {
		margin-bottom: 60px;
		margin-top: 40px;
	}
}

.woocommerce-tabs ul.tabs {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

.woocommerce-tabs ul.tabs li + li {
	border-top: none;
}

.woocommerce-tabs ul.tabs li {
	display: block;
	position: relative;
}

.woocommerce-tabs ul.tabs li.active:after {
	opacity: 1;
	right: 0.4em;
}

.woocommerce-tabs ul.tabs li.active a {
	background-color: var(--colorMain);
}

.woocommerce-tabs ul.tabs li.active a:hover {
	background-color: var(--greyColor);
}

.woocommerce-tabs ul.tabs li a {
	background-color: var(--greyColor);
	color: var(--darkColor);
	display: block;
	height: 100%;
	margin-bottom: 2px;
	margin-right: 5px;
	padding: 15px 12px;
	text-align: center;
}

@media (min-width: 1200px) {
	.woocommerce-tabs ul.tabs li a {
		padding: 18px 46px;
	}
}

.woocommerce-tabs ul.tabs li a:hover {
	background-color: var(--colorMain);
}

.woocommerce-tabs .panel {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 44px 40px 40px;
}

@media (max-width: 767px) {
	.woocommerce-tabs .panel {
		padding: 30px;
	}
}

.woocommerce-tabs .panel h2 {
	font-size: 30px;
	line-height: 1;
	margin-bottom: 28px;
}

.woocommerce-tabs .panel h2.woocommerce-Reviews-title {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 20px;
	text-transform: none;
}

.woocommerce-tabs .panel p.stars {
	margin-bottom: 15px;
}

.woocommerce-tabs .panel .comment-reply-title {
	display: block;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 19px;
	margin-top: 30px;
}

@media (min-width: 992px) {
	.woocommerce-tabs .panel .comment-reply-title {
		margin-top: 60px;
	}
}

.woocommerce-tabs .panel .form-submit input[type="submit"] {
	height: auto;
	width: auto;
}

.woocommerce-tabs .panel .woocommerce-Reviews .comment-respond .comment-form-rating .select_container:before {
	display: none;
}

.woocommerce-tabs ul.tabs {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

.woocommerce-tabs ul.tabs li a {
	-webkit-box-align: center;
	-webkit-align-items: center;
	        align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 0;
}

.woocommerce-tabs .shop_attributes {
	margin-top: 0;
}

.woocommerce-tabs .shop_attributes th:after {
	content: ":";
}

.woocommerce-tabs + .woo-related-headings {
	display: none;
}

/*reviews*/
.commentlist {
	list-style: none;
	margin-top: 40px;
	padding: 0;
}

.comment.odd .comment_container {
	padding: 0 30px 20px 70px;
}

@media (max-width: 767px) {
	.comment.odd .comment_container {
		padding: 0 0 20px 70px;
	}
}

.comment.odd .comment_container > img {
	left: -16px;
}

.comment_container {
	margin-bottom: 30px;
	margin-left: 50px;
	padding: 0 30px 20px;
	position: relative;
}

@media (max-width: 767px) {
	.comment_container {
		margin-bottom: 30px;
		padding: 0 0px 20px 30px;
	}
}

.comment_container > img {
	border: 5px solid #fff;
	border-radius: 50%;
	left: -60px;
	max-width: 80px;
	position: absolute;
	top: -15px;
}

.comment_container .meta {
	color: var(--darkgreyColor);
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.1em;
	line-height: 1.6em;
	line-height: 1.3;
	margin-bottom: 0.5em;
	margin-right: 90px;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	.comment_container .meta {
		margin-right: 0;
	}
}

.comment_container .meta strong {
	font-weight: inherit;
}

.comment_container .star-rating {
	float: right;
}

@media (max-width: 767px) {
	.comment_container .star-rating {
		display: none;
	}
}

#tab-reviews .comment-respond {
	border: none;
	padding: 0;
}

.related > h2,
.upsells > h2,
.cross-sells > h2 {
	font-size: 30px;
	line-height: 1;
	margin-bottom: 28px;
}

.related ul.products,
.upsells ul.products,
.cross-sells ul.products {
	margin: 0;
}

.related ul.products .product,
.upsells ul.products .product,
.cross-sells ul.products .product {
	margin: 0;
	padding: 0;
}

.related {
	margin-top: 40px;
}

@media (min-width: 992px) {
	.related {
		margin-top: 80px;
	}
}

.related .top-right-nav .owl-nav {
	opacity: 0;
	top: -54px;
}

.related:hover .top-right-nav .owl-nav {
	opacity: 1;
}

@media (max-width: 767px) {
	.related .owl-nav {
		display: none;
	}
}

/*shop widgets*/
.widget .woocommerce-Price-amount {
	color: var(--colorMain2);
	font-weight: 500;
}

.widget_shopping_cart ul,
.widget_products ul,
.widget_recently_viewed_products ul,
.widget_recent_reviews ul,
.widget_top_rated_products ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget_shopping_cart ul li,
.widget_products ul li,
.widget_recently_viewed_products ul li,
.widget_recent_reviews ul li,
.widget_top_rated_products ul li {
	border-bottom: 1px solid var(--fontColorRgba02);
	margin-bottom: 31px;
	min-height: 70px;
	padding-bottom: 40px;
	padding-left: 120px;
	position: relative;
}

.widget_shopping_cart ul li:last-child,
.widget_products ul li:last-child,
.widget_recently_viewed_products ul li:last-child,
.widget_recent_reviews ul li:last-child,
.widget_top_rated_products ul li:last-child {
	margin-bottom: 0;
}

.widget_shopping_cart ul li a > img,
.widget_products ul li a > img,
.widget_recently_viewed_products ul li a > img,
.widget_recent_reviews ul li a > img,
.widget_top_rated_products ul li a > img {
	left: 0;
	max-width: 100px;
	position: absolute;
}

.widget_shopping_cart ul a.remove,
.widget_products ul a.remove,
.widget_recently_viewed_products ul a.remove,
.widget_recent_reviews ul a.remove,
.widget_top_rated_products ul a.remove {
	margin-right: 9px;
	margin-top: 1px;
}

.widget_shopping_cart ul .rating-product,
.widget_products ul .rating-product,
.widget_recently_viewed_products ul .rating-product,
.widget_recent_reviews ul .rating-product,
.widget_top_rated_products ul .rating-product {
	margin-bottom: 13px;
}

.widget_shopping_cart .product-title,
.widget_products .product-title,
.widget_recently_viewed_products .product-title,
.widget_recent_reviews .product-title,
.widget_top_rated_products .product-title {
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 2px;
	padding-top: 12px;
}

.widget_shopping_cart del .woocommerce-Price-amount,
.widget_products del .woocommerce-Price-amount,
.widget_recently_viewed_products del .woocommerce-Price-amount,
.widget_recent_reviews del .woocommerce-Price-amount,
.widget_top_rated_products del .woocommerce-Price-amount {
	color: var(--darkgreyColor);
	font-weight: 300;
}

.widget_shopping_cart del,
.widget_products del,
.widget_recently_viewed_products del,
.widget_recent_reviews del,
.widget_top_rated_products del {
	padding-right: 1em;
}

.widget_shopping_cart ins,
.widget_products ins,
.widget_recently_viewed_products ins,
.widget_recent_reviews ins,
.widget_top_rated_products ins {
	text-decoration: none !important;
}

.ds .widget_shopping_cart del .woocommerce-Price-amount,
.ds .widget_products del .woocommerce-Price-amount,
.ds .widget_recently_viewed_products del .woocommerce-Price-amount,
.ds .widget_recent_reviews del .woocommerce-Price-amount,
.ds .widget_top_rated_products del .woocommerce-Price-amount {
	color: #fff;
}

.widget_recent_reviews a {
	font-size: 18px;
	font-weight: 400;
}

.widget_price_filter .price_slider {
	margin-bottom: 1em;
}

.widget_price_filter .price_slider_amount {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	margin-top: 1.4em;
}

@media (max-width: 1199px) {
	.widget_price_filter .price_slider_amount {
		margin-top: 1em;
	}
}

.widget_price_filter .price_slider_amount .price_label {
	margin-bottom: 15px;
}

.widget_price_filter .price_slider_amount button {
	max-width: 170px;
}

.widget_price_filter .ui-slider {
	position: relative;
	text-align: left;
}

.widget_price_filter .ui-slider .to,
.widget_price_filter .ui-slider .from {
	color: var(--fontColor);
	font-size: 16px;
	left: 71%;
	letter-spacing: 1px;
	position: absolute;
	top: 15px;
}

.widget_price_filter .ui-slider .from {
	left: 5%;
}

.widget_price_filter .bg_im {
	background-color: #61728a;
	box-shadow: 0 16px 20px 0px rgba(0, 0, 0, 0.15);
	height: 400px;
	left: 675px;
	position: absolute;
	top: 517px;
	width: 400px;
	z-index: 134;
}

.widget_price_filter .ui-slider .ui-slider-handle {
	background: var(--colorMain);
	border-radius: 50%;
	box-sizing: border-box;
	cursor: ew-resize;
	height: 10px;
	margin-top: -3px;
	opacity: 1;
	outline: none;
	position: absolute;
	width: 10px;
	z-index: 2;
}

.widget_price_filter .ui-slider .ui-slider-handle:hover,
.widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
	box-shadow: 0 0 0 0.236em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
	background: var(--colorMain);
	border: 0;
	display: block;
	font-size: .7em;
	position: absolute;
	z-index: 1;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: var(--greyColor);
}

.widget_price_filter .ui-slider-horizontal {
	border-radius: 50px;
	height: 4px;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
	height: 100%;
	top: 0;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
	left: -1px;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
	right: -1px;
}

.widget_product_tag_cloud a {
	border: 1px solid rgba(72, 97, 115, 0.2);
	display: inline-block;
	margin: 0 5px 10px 0;
	padding: 2px 17px;
	text-align: center;
}

.widget_product_tag_cloud a:hover {
	background-color: var(--colorMain);
	border-color: var(--colorMain);
	color: var(--darkgreyColor);
}

.woocommerce-MyAccount-navigation ul,
.widget_layered_nav ul,
.widget_layered_nav_filters ul,
.widget_product_categories ul {
	list-style: none;
	padding: 0;
	width: 100%;
}

.woocommerce-MyAccount-navigation ul ul li,
.widget_layered_nav ul ul li,
.widget_layered_nav_filters ul ul li,
.widget_product_categories ul ul li {
	padding-left: 20px;
}

.woocommerce-MyAccount-navigation ul ul li:last-child,
.widget_layered_nav ul ul li:last-child,
.widget_layered_nav_filters ul ul li:last-child,
.widget_product_categories ul ul li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.woocommerce-MyAccount-navigation li,
.widget_layered_nav li,
.widget_layered_nav_filters li,
.widget_product_categories li {
	-webkit-box-align: center;
	-webkit-align-items: center;
	        align-items: center;
	border-bottom: 1px solid rgba(72, 97, 115, 0.2);
	border-top: 1px solid rgba(72, 97, 115, 0.2);
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.woocommerce-MyAccount-navigation li > a,
.widget_layered_nav li > a,
.widget_layered_nav_filters li > a,
.widget_product_categories li > a {
	display: inline-block;
	-webkit-box-flex: 10;
	-webkit-flex-grow: 10;
	        flex-grow: 10;
	line-height: 1;
	padding-bottom: 17px;
	padding-top: 16px;
}

.woocommerce-MyAccount-navigation li > a.active,
.widget_layered_nav li > a.active,
.widget_layered_nav_filters li > a.active,
.widget_product_categories li > a.active {
	font-weight: 500;
}

.woocommerce-MyAccount-navigation li:before,
.widget_layered_nav li:before,
.widget_layered_nav_filters li:before,
.widget_product_categories li:before {
	color: var(--colorMain);
	content: "\f054";
	font-family: "FontAwesome";
	font-size: 10px;
	padding-right: 10px;
	position: relative;
	top: -2px;
}

.woocommerce-MyAccount-navigation li.is-active,
.widget_layered_nav li.is-active,
.widget_layered_nav_filters li.is-active,
.widget_product_categories li.is-active {
	font-weight: 700;
}

.woocommerce-MyAccount-navigation li + li,
.widget_layered_nav li + li,
.widget_layered_nav_filters li + li,
.widget_product_categories li + li {
	border-top: none;
}

/*shopping cart*/
.shop_table {
	margin-top: 0;
}

.shop_table .amount {
	font-weight: 600;
}

.shop_table th {
	border-bottom: 1px solid rgba(72, 97, 115, 0.2);
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.1em;
	line-height: 1.6em;
	text-transform: uppercase;
	vertical-align: center;
}

.shop_table .remove {
	display: block;
	font-size: 2em;
	text-align: center;
}

.shop_table .product-thumbnail img {
	max-width: 70px;
}

.shop_table .actions {
	padding: 2em;
	text-align: right;
}

.shop_table .actions button {
	padding: 17px 15px;
}

@media (max-width: 767px) {
	.shop_table .actions {
		text-align: left;
	}
}

.shop_table .coupon {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	float: left;
}

@media (max-width: 767px) {
	.shop_table .coupon {
		margin-bottom: 15px;
	}
}

.shop_table .coupon label {
	display: none;
}

.shop_table .coupon [type="text"] {
	height: 50px;
	margin-right: 10px;
	width: auto;
}

@media (max-width: 767px) {
	.shop_table .coupon [type="text"] {
		margin-right: 15px;
		width: 200px;
	}
}

.shop_table .coupon [type="submit"] {
	position: relative;
}

@media (min-width: 467px) {
	.shop_table .coupon [type="submit"] {
		margin-top: 0;
	}
}

@media (max-width: 991px) {
	.shop_table .coupon .btn {
		padding: 7px 20px;
	}
}

@media (max-width: 991px) {
	.shop_table {
		display: block;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow-x: auto;
		width: 100%;
	}
}

.woocommerce-cart-form [name="update_cart"] {
	display: none;
}

.cart-collaterals {
	clear: both;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	        flex-direction: column;
	margin-top: 3em;
}

.cart-collaterals h2 {
	font-size: 30px;
	line-height: 1;
	margin-bottom: 28px;
}

.cart-collaterals .cart_totals {
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	        order: -1;
}

@media (max-width: 991px) {
	.cart-collaterals .cart_totals table.shop_table td,
	.cart-collaterals .cart_totals table.shop_table th {
		width: 100%;
	}
}

.cart-collaterals .cart_totals a.checkout-button.button.alt.wc-forward {
	padding: 17px 25px;
}

.cart-collaterals .wc-proceed-to-checkout {
	margin: 30px 0 5px;
}

@media (min-width: 992px) {
	.cart-collaterals .wc-proceed-to-checkout {
		margin-top: 3em;
	}
}

.cart-collaterals .wc-proceed-to-checkout .wcppec-checkout-buttons.woo_pp_cart_buttons_div {
	text-align: left;
}

.cart-collaterals .wc-proceed-to-checkout .wcppec-checkout-buttons.woo_pp_cart_buttons_div .wcppec-checkout-buttons__separator {
	color: var(--darkgreyColor);
	margin-bottom: 0;
}

.return-to-shop {
	margin-top: 30px;
}

/*shop checkout*/
.checkout:before,
.checkout:after {
	clear: both;
	content: "";
	display: block;
}

.woocommerce-NoticeGroup {
	margin-bottom: 30px;
}

.col2-set .col-1,
.col2-set .col-2 {
	max-width: none;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

@media (min-width: 992px) {
	.col2-set#customer_details {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		        flex-direction: column;
		float: left;
		width: 65%;
	}

	.col2-set ~ #order_review_heading,
	.col2-set ~ #order_review {
		float: right;
		margin-top: 0;
		width: 32%;
	}
}

ul#shipping_method {
	list-style: none;
	padding-left: 0;
}

ul#shipping_method input[type=radio] {
	display: none;
}

.shipping-calculator-button {
	display: block;
	margin-bottom: 10px;
}

#payment ul {
	list-style: none;
	margin: 1em 0;
	padding-left: 0;
}

#payment [type="radio"] {
	margin-left: -10px;
	opacity: 0;
}

#payment label {
	margin-bottom: 0;
}

.wc_payment_method .payment_box {
	background-color: rgba(150, 150, 150, 0.05);
	margin-top: 0.8em;
	padding: 0.8em 1em;
}

.place-order.form-row {
	display: block;
	margin: 2em 0 0;
}

p.form-row {
	display: block;
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
}

p.form-row label {
	display: none;
	margin-bottom: 0;
}

@media (min-width: 992px) {
	p.form-row.form-row-first {
		float: left;
		padding-right: 10px;
		width: 50%;
	}

	p.form-row.form-row-last {
		float: left;
		padding-left: 10px;
		width: 50%;
	}

	p.form-row.form-row-last .button {
		padding: 22px 25px;
	}
}

p.form-row.notes,
p.form-row.form-row-wide {
	clear: both;
	width: 100%;
}

p.form-row.notes em,
p.form-row.form-row-wide em {
	display: block;
	margin-top: 5px;
}

form.woocommerce-EditAccountForm.edit-account p:last-child {
	margin-top: 20px;
}

.woocommerce-info + .checkout_coupon,
.woocommerce-info + .login {
	display: none;
	width: 100% !important;
}

.lost_reset_password p.form-row.form-row-first {
	margin-right: 0;
	width: 100%;
}

@media (min-width: 992px) {
	.lost_reset_password,
	form.login {
		margin: 40px 0 0;
		width: 50%;
	}
}

.lost_reset_password .button,
form.login .button {
	margin: 5px 0 0;
}

.woocommerce-account .woocommerce-notices-wrapper > * {
	margin-bottom: 30px;
}

.woocommerce-account h2 {
	margin-top: -5px;
}

/*shop account subpages*/

@media (max-width: 767px) {
	.woocommerce-MyAccount-navigation {
		margin-bottom: 50px;
	}
}

@media (min-width: 768px) {
	.woocommerce-MyAccount-navigation {
		float: right;
		padding-left: 60px;
		width: 30%;
	}

	.woocommerce-MyAccount-content {
		float: left;
		width: 65%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.woocommerce-MyAccount-navigation {
		padding: 29px !important;
	}
}

/*
order details
*/
.woocommerce-order-details {
	margin-top: 2.5em;
}

.woocommerce-customer-details {
	margin-top: 3.5em;
}

.woocommerce-customer-details h3 {
	margin-top: 1em;
}

ul.wc-item-downloads {
	margin: 0.5em 0;
}

.order-again {
	margin-top: 2em;
}

a.link-scale {
	display: block;
	overflow: hidden;
}

a.link-scale img {
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

a.link-scale:hover img {
	-webkit-transform: scale(1.2, 1.2);
	    -ms-transform: scale(1.2, 1.2);
	        transform: scale(1.2, 1.2);
}

.count {
	color: var(--fontColor);
}

.product-categories a,
.wc-layered-nav-term a {
	color: var(--fontColor);
}

.product-categories a:hover,
.wc-layered-nav-term a:hover {
	color: var(--colorMain);
}

.dropdown_layered_nav_color {
	letter-spacing: 0.2em;
}

.product .product-title,
.widget_shopping_cart .product-title,
.widget_top_rated_products .product-title,
.widget_products .product-title,
.widget_recently_viewed_products .product-title,
.widget_recent_reviews .product-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 160px;
}

.product .star-rating,
.widget_shopping_cart .star-rating,
.widget_top_rated_products .star-rating,
.widget_products .star-rating,
.widget_recently_viewed_products .star-rating,
.widget_recent_reviews .star-rating {
	margin-bottom: 14px;
}

.up-sells.upsells.products h5 {
	margin-bottom: 30px;
}

.related.products .product img,
.up-sells.upsells.products img {
	border: 0;
}

table td.with-btn {
	padding: 13px 24px;
}

table td.with-btn a {
	float: none !important;
}

.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-number a,
.download-product a {
	color: var(--darkColor);
	font-weight: 500;
}

.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-number a:hover,
.download-product a:hover {
	color: var(--colorMain);
}

.widget_product_tag_cloud {
	margin-bottom: -10px;
}

.woocommerce-EditAccountForm.edit-account legend {
	color: var(--darkColor);
	font-size: 30px;
	font-weight: 400;
	line-height: inherit;
	padding: 20px 0 10px;
	white-space: normal;
}

.columns-3 ul.products.list-view li.product {
	width: 50%;
}

.columns-3 ul.products.list-view li.product.vertical-item.content-padding.padding-small .item-content {
	padding: 0 24px 0 0px;
}

.columns-3 ul.products.list-view li.product.vertical-item.content-padding.padding-small .item-content .star-rating {
	margin: 15px auto 0;
}

.columns-3 ul.products.list-view li.product.vertical-item.content-padding.padding-small .item-content .price {
	margin: 15px 0 0;
}

.columns-3 ul.products.list-view .product-inner {
	-webkit-box-align: center;
	-webkit-align-items: center;
	        align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.columns-3 ul.products.list-view .product-inner img {
	max-width: 200px;
}

#toggle_shop_view {
	margin-left: 14px;
}

#toggle_shop_view:before,
#toggle_shop_view:after {
	display: inline-block;
	font-family: "icomoon";
	font-size: 14px;
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

#toggle_shop_view:after {
	color: var(--darkColor);
	content: "\e91c";
}

#toggle_shop_view:before {
	color: var(--fontColor);
	content: "\e91b";
	margin-right: 16px;
}

.grid-view:before {
	color: var(--darkColor) !important;
}

.grid-view:after {
	color: var(--fontColor) !important;
}

#sort_view {
	color: #333;
	display: inline-block;
	font-size: 14px;
	padding: 12px 16px 13px;
}

.shop-form {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	padding: 5px 40px;
}

@media (max-width: 575px) {
	.shop-form {
		padding: 17px 17px 5px;
	}
}

.shop-form .product-found {
	margin-right: 13px;
}

.shop-form .form-group .select_container:before {
	right: 28px;
	top: 21%;
}

.shop-form .form-group select {
	border-bottom: 0;
	font-size: 14px;
	padding-left: 14px;
}

.shop-form .show-product p {
	color: var(--darkColor);
	margin-bottom: 0;
	margin-right: 23px;
}

.shop-form .show-product a {
	color: var(--fontColor);
	font-size: 14px;
	font-weight: 400;
	padding: 0 5px;
}

.shop-form .show-product a:hover {
	color: var(--colorMain);
}

.shop-form .show-product a.active {
	color: var(--colorMain);
	text-decoration: underline;
}

.shop-form .view-product p {
	color: var(--darkColor);
	margin-bottom: 0;
	margin-right: 0;
}

.shop-form .sort-form p {
	color: var(--darkColor);
	margin-bottom: 0;
}

@media (max-width: 767px) {
	.shop-form .sort-form {
		display: none;
	}
}

.product_title.single_title {
	line-height: 1.3;
	margin-top: 29px;
}

.summary.entry-summary .list-styled ul li,
.summary.entry-summary ul.list-styled li {
	padding: 9px 0;
}

.summary.entry-summary .list-styled ul li:first-child,
.summary.entry-summary ul.list-styled li:first-child {
	padding-top: 0;
}

.summary.entry-summary .list-styled ul li:last-child,
.summary.entry-summary ul.list-styled li:last-child {
	padding-bottom: 0;
}

.widget_shopping_cart ul li {
	padding-bottom: 43px;
}

.widget_shopping_cart .product-title {
	margin-bottom: -1px;
}

.widget_shopping_cart .shop-desk {
	margin-bottom: 0;
}

.widget_shopping_cart .woocommerce-mini-cart__total.total {
	margin: 24px 0 0;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin: 24px 0 0;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons a:first-child {
	margin-right: 10px;
}

.widget_shopping_cart ul li {
	display: block;
}

.widget_shopping_cart .btn-outline-maincolor {
	color: var(--fontColor);
}

.widget_shopping_cart .btn-outline-maincolor:hover {
	border-color: var(--darkColor);
}

.widget_shopping_cart .btn-maincolor:hover {
	background-color: var(--darkColor);
	border-color: var(--darkColor);
	color: #fff;
}

.widget_shopping_cart .product-title {
	color: var(--fontColor);
}

.up-sells.upsells .owl-item,
.cross-sells .owl-item {
	margin-bottom: 35px;
}

.up-sells.upsells .products.owl-carousel,
.cross-sells .products.owl-carousel {
	margin-bottom: -35px;
}

.widget_recent_reviews ul li,
.widget_products ul li {
	padding-bottom: 39px;
}

@media (min-width: 992px) {
	.woocommerce-page.post-type-archive-product .c-gutter-70 [class*="col-"],
	.woocommerce-page.post-type-archive-product .row.c-gutter-70 > [class*="col-"],
	.woocommerce-page.single-product .c-gutter-70 [class*="col-"],
	.woocommerce-page.single-product .row.c-gutter-70 > [class*="col-"],
	.woocommerce-page.tax-product_cat .c-gutter-70 [class*="col-"],
	.woocommerce-page.tax-product_cat .row.c-gutter-70 > [class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}

	.woocommerce-page.post-type-archive-product .c-gutter-70 .row,
	.woocommerce-page.post-type-archive-product div.row.c-gutter-70,
	.woocommerce-page.single-product .c-gutter-70 .row,
	.woocommerce-page.single-product div.row.c-gutter-70,
	.woocommerce-page.tax-product_cat .c-gutter-70 .row,
	.woocommerce-page.tax-product_cat div.row.c-gutter-70 {
		margin-left: -15px;
		margin-right: -15px;
	}
}

@media (min-width: 1200px) {
	.woocommerce-page.post-type-archive-product .col-lg-7.col-xl-8.column-main,
	.woocommerce-page.single-product .col-lg-7.col-xl-8.column-main,
	.woocommerce-page.tax-product_cat .col-lg-7.col-xl-8.column-main {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 75%;
		        flex: 0 0 75%;
		max-width: 75%;
	}

	.woocommerce-page.post-type-archive-product .column-sidebar,
	.woocommerce-page.single-product .column-sidebar,
	.woocommerce-page.tax-product_cat .column-sidebar {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 25%;
		        flex: 0 0 25%;
		max-width: 25%;
	}
}

.single-product .woocommerce-notices-wrapper {
	width: 100%;
}

.single-product .woocommerce-notices-wrapper .woocommerce-error,
.single-product .woocommerce-notices-wrapper .woocommerce-info,
.single-product .woocommerce-notices-wrapper .woocommerce-message {
	margin-bottom: 15px;
	margin-left: 15px;
}

@media (max-width: 767px) {
	.single-product .woocommerce-notices-wrapper .woocommerce-error,
	.single-product .woocommerce-notices-wrapper .woocommerce-info,
	.single-product .woocommerce-notices-wrapper .woocommerce-message {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		        flex-wrap: wrap;
	}

	.single-product .woocommerce-notices-wrapper .woocommerce-error a,
	.single-product .woocommerce-notices-wrapper .woocommerce-info a,
	.single-product .woocommerce-notices-wrapper .woocommerce-message a {
		margin-bottom: 10px;
	}
}

.single-product .page_content {
	margin-bottom: 5px;
}

.uws-products.carousel-layout .owl-carousel,
section.related.products ul.products {
	margin: 0;
}

.uws-products.carousel-layout .owl-carousel .owl-stage-outer,
section.related.products ul.products .owl-stage-outer {
	margin-bottom: -35px;
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}

.uws-products.carousel-layout .owl-carousel .owl-stage-outer .product,
section.related.products ul.products .owl-stage-outer .product {
	margin: 0 0 35px;
	padding: 0;
	width: 100%;
}

#content_products {
	margin-bottom: -25px;
}

.widget_price_filter {
	margin-bottom: 5px;
}

.select2-container--default .select2-selection.select2-selection--single {
	border: 1px solid var(--darkgreyColorRgba01);
	border-radius: 0;
	height: 60px !important;
	padding-left: 20px;
	padding-right: 20px;
}

.select2-container--default .select2-selection.select2-selection--single .select2-selection__rendered {
	color: #757575;
	line-height: 60px;
	padding: 0;
}

.select2-container--default .select2-selection.select2-selection--single .select2-selection__arrow {
	right: 17px;
	top: 16px;
}

.woocommerce-checkout-payment .payment_method_paypal img {
	display: block;
}

.woocommerce-checkout-payment .payment_method_paypal a {
	color: var(--darkgreyColor);
}

.woocommerce-checkout-payment .payment_method_paypal a:hover {
	color: var(--colorMain);
}

.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper {
	margin-bottom: 20px;
}

.woocommerce-shipping-fields {
	margin-top: 30px;
}

.woocommerce-shipping-fields + .woocommerce-additional-fields {
	margin-top: 20px;
}

.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
	border-color: rgba(48, 56, 73, 0.1);
}

.woo-product-category .item-content .category-title {
	margin-bottom: 23px;
}

.woo-product-category.layout-item-image .item-content,
.woo-product-category.layout-item-icon {
	padding: 50px 20px 42px 50px;
}

.woo-product-category.layout-item-image .item-content .icon-styled i,
.woo-product-category.layout-item-icon .icon-styled i {
	font-size: 60px;
}

.woo-product-category.ls .category-title a {
	color: var(--darkColor);
}

@media (min-width: 992px) {
	.has-hover-animation {
		pointer-events: none;
	}

	.has-hover-animation .woo-product-category {
		pointer-events: auto;
		-webkit-transition: 0.3s all;
		transition: 0.3s all;
	}

	.has-hover-animation:hover .woo-product-category,
	.has-hover-animation:focus-within .woo-product-category {
		opacity: 0.6;
	}

	.has-hover-animation:hover .woo-product-category:hover,
	.has-hover-animation:focus-within .woo-product-category:hover {
		opacity: 1;
		-webkit-transform: scale(1.08);
		    -ms-transform: scale(1.08);
		        transform: scale(1.08);
	}
}

.ds li.product .vertical-item.product-inner {
	background-color: var(--darkColor);
	box-shadow: none;
}

.ds .woocommerce-tabs .panel {
	border-color: rgba(72, 97, 115, 0.2);
}

.ds .woocommerce-tabs ul.tabs li a {
	background-color: var(--darkColor);
	color: #fff;
}

.ds .woocommerce-tabs ul.tabs li a:hover {
	background-color: var(--colorMain);
	color: var(--darkgreyColor);
}

.ds .woocommerce-tabs ul.tabs li.active a {
	background-color: var(--colorMain);
	color: var(--darkgreyColor);
}

.ds .comment_container .meta {
	color: #fff;
}

.ds .comment_container > img {
	border: 0;
}

.ds .stars a:before,
.ds .stars a:hover ~ a:before {
	color: #fff;
}

.ds .stars.selected a.active ~ a:before {
	color: #fff;
}

.ds .price del {
	color: #fff;
}

.ds .widget_shopping_cart ul li,
.ds .widget_products ul li,
.ds .widget_recently_viewed_products ul li,
.ds .widget_recent_reviews ul li,
.ds .widget_top_rated_products ul li {
	border-bottom-color: rgba(72, 97, 115, 0.2);
}

.ds .price_slider_amount button:not(.btn),
.ds a.button:not(.btn) {
	color: var(--darkColor);
}

.ds .price_slider_amount button:not(.btn):hover,
.ds a.button:not(.btn):hover {
	background-color: #fff;
	border-color: #fff;
	color: var(--darkColor);
}

.ds .quantity [type="button"] + i {
	color: #fff;
}

.ds .woocommerce-billing-fields .select2-container--default .select2-selection--single {
	background-color: transparent;
	border-color: rgba(255, 255, 255, 0.1);
}

.ds .woocommerce-billing-fields .select2-container--default .select2-selection--single:focus {
	outline: 0;
}

.ds .woocommerce-checkout-review-order table td,
.ds .woocommerce-checkout-review-order table th {
	border-color: rgba(72, 97, 115, 0.2);
}
